In [1]:
%load_ext sql

In [2]:
%sql sqlite:///YT_news.db

In [3]:
%%sql

SELECT name, sql FROM sqlite_master
WHERE type='table'
ORDER BY name;

 * sqlite:///YT_news.db
Done.

[('channels', 'CREATE TABLE "channels" (\n"index" INTEGER,\n  "Unnamed: 0" INTEGER,\n  "Video Id" TEXT,\n  "channelTitle" TEXT,\n  "title" TEXT,\n  "publishedAt" TEXT,\n  "categoryId" INTEGER,\n  "description" TEXT,\n  "viewCount" REAL,\n  "likeCount" REAL,\n  "commentCount" REAL,\n  "duration" TEXT\n)')]

In [4]:
%%sql

SELECT COUNT(*)
FROM channels;

 * sqlite:///YT_news.db
Done.

[(2200,)]

In [5]:
%%sql

SELECT *
FROM channels
LIMIT 5;

 * sqlite:///YT_news.db
Done.

[(0, 1400, 'spPo80dPUwI', 'USA TODAY', 'Heroic mom saves terrified five-year-old from raccoon attack | USA TODAY #Shorts', '2022-12-05T17:28:31Z', 25, "A mother came to her five-year-old daughter's rescue after a raccoon bit her while waiting for the bus in Ashford, Connecticut.\n\nRELATED: Baby racc ... (228 characters truncated) ... nal news, sports, entertainment,  finance, technology, and more through award-winning journalism, photos, videos and VR.\n\n#Raccoon #Attack #Animals", 347180823.0, 10370485.0, 269937.0, 'PT41S'),
 (1, 1900, 'NxRGRFKBVLg', 'On Demand News', 'Fans Catch CAT Plummeting from Stadium', '2021-09-13T15:02:56Z', 25, "'Fans Catch CAT Plummeting from Stadium'\n\nFans watched in terror, as a cat clung to the upper tier of a stadium. The cat hung from a single claw as ... (335 characters truncated) ... e any of our clips for commercial use, please visit: http://www.itnproductions.co.uk/news/\n\n#Shorts #Cat #Animals #Football #Americanfootball #Cats", 121244026.0, 6269691.0, 95053.0, 'PT44S'),
 (2, 1401, 'KDo8n_7_2YI', 'USA TODAY', 'Brave woman fights off male attacker while alone at gym | USA TODAY #Shorts', '2023-02-17T13:28:54Z', 25, "A 24-year-old woman successfully fought off a male attacker while she was working out alone at her apartment's gym. The man was arrested and charged. ... (978 characters truncated) ... national news, sports, entertainment,  finance, technology, and more through award-winning journalism, photos, videos and VR.\n\n#Florida #Gym #Fight", 112886052.0, 4248640.0, 92533.0, 'PT37S'),
 (3, 1402, '_Gtm2j2gb6w', 'USA TODAY', 'Hurricane Fiona devastates Puerto Rico, intensifies to Category 4 | USA TODAY #Shorts', '2022-09-22T17:29:38Z', 25, "Hurricane Fiona flooded Puerto Rico with 6 to more than 25 inches of rain in some areas earlier this week, with parts of the island without electrici ... (1134 characters truncated) ... s, sports, entertainment,  finance, technology, and more through award-winning journalism, photos, videos and VR.\n\n#PuertoRico #Hurricane #Disaster", 97966113.0, 1504843.0, 7100.0, 'PT42S'),
 (4, 650, 'or_MDJnmihc', 'CBS News', 'Defendant collapses in court after guilty verdict', '2017-11-14T17:36:13Z', 25, 'Diana Lovejoy collapsed in a California courtroom Monday after she was convicted in what authorities call a botched murder-for-hire plot targeting he ... (1006 characters truncated) ... d makes all of the resources of CBS News available directly on digital platforms with live, anchored coverage 15 hours each weekday. CBSN. Always On.', 75970739.0, 371733.0, 79515.0, 'PT2M31S')]

In [10]:
%%sql
--creating view
CREATE VIEW new_view AS
SELECT 'Video ID', channelTitle, title, viewCount, likeCount, commentCount, duration
FROM channels;

 * sqlite:///YT_news.db
Done.

[]

In [11]:
%%sql
--checking if veiw is made
SELECT *
FROM sqlite_schema;

 * sqlite:///YT_news.db
Done.

[('table', 'channels', 'channels', 2, 'CREATE TABLE "channels" (\n"index" INTEGER,\n  "Unnamed: 0" INTEGER,\n  "Video Id" TEXT,\n  "channelTitle" TEXT,\n  "title" TEXT,\n  "publishedAt" TEXT,\n  "categoryId" INTEGER,\n  "description" TEXT,\n  "viewCount" REAL,\n  "likeCount" REAL,\n  "commentCount" REAL,\n  "duration" TEXT\n)'),
 ('index', 'ix_channels_index', 'channels', 3, 'CREATE INDEX "ix_channels_index"ON "channels" ("index")'),
 ('view', 'new_view', 'new_view', 0, "CREATE VIEW new_view AS\nSELECT 'Video ID', channelTitle, title, viewCount, likeCount, commentCount, duration\nFROM channels")]

In [13]:
%%sql 
SELECT COUNT(*)
FROM new_view;

 * sqlite:///YT_news.db
Done.

[(2200,)]

In [29]:
%%sql 
SELECT DISTINCT channelTitle
FROM new_view
LIMIT 20;

 * sqlite:///YT_news.db
Done.

[('USA TODAY',),
 ('On Demand News',),
 ('CBS News',),
 ('Vox',),
 ('Channel 4 News',),
 ('Global News',),
 ('Daily Mail',),
 ('CBC News',),
 ('ABC News',),
 ('NowThis News',),
 ('Complex',),
 ('Voice of America',),
 ('The Guardian',),
 ('Washington Post',),
 ('ABC News In-depth',),
 ('BBC News',),
 ('CBC News: The National',),
 ('CNN',),
 ('CBS Evening News',),
 ('The New York Times',)]

In [36]:
%%sql 
SELECT channelTitle, count(*) AS 'Numbers of Videos'
FROM new_view
WHERE channelTitle LIKE 'ABC NEWS%' or channelTitle LIKE 'BBC%' or channelTitle like 'CNN%'
GROUP by channelTitle;

 * sqlite:///YT_news.db
Done.

[('ABC News', 100), ('ABC News In-depth', 50), ('BBC News', 50), ('CNN', 50)]

In [37]:
%%sql 
SELECT channelTitle, count(*) AS 'Numbers of Videos'
FROM new_view
GROUP by channelTitle;

 * sqlite:///YT_news.db
Done.

[('ABC News', 100),
 ('ABC News In-depth', 50),
 ('AFP News Agency', 50),
 ('Al Jazeera English', 50),
 ('BBC News', 50),
 ('CBC News', 50),
 ('CBC News: The National', 50),
 ('CBS Evening News', 50),
 ('CBS News', 50),
 ('CNBC Television', 50),
 ('CNN', 50),
 ('Channel 4 News', 50),
 ('Complex', 50),
 ('DW News', 50),
 ('Daily Mail', 50),
 ('E! News', 50),
 ('Forbes Breaking News', 50),
 ('Fox News', 50),
 ('Global News', 50),
 ('Good Morning Britain', 50),
 ('ITV News', 50),
 ('MSNBC', 50),
 ('NBC News', 50),
 ('NowThis News', 50),
 ('On Demand News', 50),
 ('PBS NewsHour', 50),
 ('PINAS INSIDER', 50),
 ('SABC News', 50),
 ('Sky News', 50),
 ('Sky News Australia', 50),
 ('The Economist', 50),
 ('The Guardian', 50),
 ('The New York Times', 50),
 ('The Sun', 50),
 ('The Telegraph', 50),
 ('The Young Turks', 50),
 ('USA TODAY', 50),
 ('Voice of America', 50),
 ('Vox', 50),
 ('WION', 50),
 ('Wall Street Journal', 50),
 ('Washington Post', 50),
 ('euronews', 50)]

In [45]:
%%sql 
SELECT title as 'Video Name', channelTitle as 'Channel Name', MAX(viewCount) as 'Highest Numbers of Views'
FROM new_view
LIMIT 5;

 * sqlite:///YT_news.db
Done.

[('Heroic mom saves terrified five-year-old from raccoon attack | USA TODAY #Shorts', 'USA TODAY', 347180823.0)]

In [52]:
%%sql 
SELECT title as 'Video Name', channelTitle as 'Channel Name', viewCount as 'Lowest Numbers of Views'
FROM new_view
ORDER BY viewCount ASC
LIMIT 5;

 * sqlite:///YT_news.db
Done.

[('How Does the Internet Work? - Glad You Asked S1', 'Vox', None),
 ('Why Do We Cry? - Glad You Asked S1', 'Vox', None),
 ('Why Spend Money in Video Games? - Glad You Asked S1', 'Vox', None),
 ('How Do I Pay for College?', 'NowThis News', None),
 ('POLITICAL BLOGGER ISINIWALAT ANG KABOBOHAN NI NIKKI VALDEZ | NIKKI NAPAHIYA!', 'PINAS INSIDER', 63237.0)]

In [55]:
%%sql 
SELECT channelTitle, SUM(viewCount) AS 'Total Amount of views'
FROM new_view
WHERE channelTitle LIKE 'USA Today%'
GROUP by channelTitle;

 * sqlite:///YT_news.db
Done.

[('USA TODAY', 1045108720.0)]

In [59]:
%%sql 
SELECT channelTitle, AVG(likeCount) AS 'Amount Amount of like Count'
FROM new_view
WHERE channelTitle LIKE 'CBS News%';

 * sqlite:///YT_news.db
Done.

[('CBS News', 36386.98)]

In [64]:
%%sql 
SELECT channelTitle, SUM(viewCount) AS 'Total Amount of views', SUM(likeCount) AS 'Total Amount of Likes', SUM(CommentCount) AS 'Total Amount of Comments'
FROM new_view
GROUP BY channelTitle
ORDER BY SUM(viewCount) DESC;

 * sqlite:///YT_news.db
Done.

[('USA TODAY', 1045108720.0, 27154420.0, 1027332.0),
 ('Vox', 653964032.0, 10350990.0, 926621.0),
 ('ABC News', 628621246.0, 5626001.0, 1023566.0),
 ('Complex', 515105310.0, 9842304.0, 490089.0),
 ('On Demand News', 492098881.0, 8899220.0, 359486.0),
 ('The New York Times', 375774121.0, 5318414.0, 675095.0),
 ('Daily Mail', 330136947.0, 3712591.0, 211888.0),
 ('Channel 4 News', 267683979.0, 3774390.0, 611389.0),
 ('The Guardian', 264641932.0, 2118075.0, 391465.0),
 ('CBC News', 259541082.0, 2080639.0, 257060.0),
 ('Voice of America', 247102690.0, 1130090.0, 129123.0),
 ('BBC News', 244494468.0, 2530894.0, 715786.0),
 ('CBS News', 235853813.0, 1819349.0, 430336.0),
 ('ABC News In-depth', 225940780.0, 2375511.0, 275430.0),
 ('Global News', 193379044.0, 3235732.0, 255532.0),
 ('CNN', 191337494.0, 1871236.0, 565109.0),
 ('Wall Street Journal', 189328173.0, 2569725.0, 274682.0),
 ('NowThis News', 184567580.0, 3777222.0, 425758.0),
 ('CBS Evening News', 181580605.0, 2677691.0, 337148.0),
 ('Sky News', 178445635.0, 1492517.0, 227381.0),
 ('Washington Post', 176841381.0, 2004595.0, 469093.0),
 ('The Telegraph', 163295083.0, 1954769.0, 27820.0),
 ('Good Morning Britain', 162608522.0, 1843463.0, 12749.0),
 ('PBS NewsHour', 138099956.0, 1082912.0, None),
 ('ITV News', 133188692.0, 1105343.0, 19267.0),
 ('Al Jazeera English', 132392719.0, 1134160.0, 271751.0),
 ('The Economist', 124397204.0, 1676380.0, 234519.0),
 ('DW News', 122809486.0, 838733.0, 245888.0),
 ('The Sun', 121977283.0, 1192889.0, 194690.0),
 ('Sky News Australia', 120391540.0, 2680433.0, 734034.0),
 ('AFP News Agency', 118479290.0, 959903.0, 88840.0),
 ('euronews', 108499122.0, 857572.0, 190358.0),
 ('NBC News', 99646795.0, 719827.0, 182395.0),
 ('Forbes Breaking News', 91977183.0, 2457862.0, 606074.0),
 ('Fox News', 90091730.0, 2204669.0, 462076.0),
 ('CBC News: The National', 82938134.0, 602940.0, 5859.0),
 ('WION', 79173927.0, 869682.0, 267757.0),
 ('MSNBC', 76044064.0, 1056449.0, 286456.0),
 ('CNBC Television', 64104607.0, 525900.0, 215342.0),
 ('The Young Turks', 63960194.0, 1013710.0, 324605.0),
 ('SABC News', 54268610.0, 229278.0, 30704.0),
 ('E! News', 51825885.0, 575141.0, 61417.0),
 ('PINAS INSIDER', 11788786.0, 157072.0, 38111.0)]

In [ ]:
%%sql 
SELECT channelTitle, SUM(viewCount) AS 'Total Amount of views', SUM(likeCount) AS 'Total Amount of Likes', SUM(CommentCount) AS 'Total Amount of Comments'
FROM new_view
GROUP BY channelTitle
ORDER BY SUM(viewCount) DESC;

In [77]:
%%sql 
SELECT channelTitle, SUM(viewCount) AS 'Total Amount of views'
FROM new_view
GROUP BY channelTitle
HAVING SUM(viewCount) > 100000000
ORDER BY SUM(viewCount) ASC;

 * sqlite:///YT_news.db
Done.

[('euronews', 108499122.0),
 ('AFP News Agency', 118479290.0),
 ('Sky News Australia', 120391540.0),
 ('The Sun', 121977283.0),
 ('DW News', 122809486.0),
 ('The Economist', 124397204.0),
 ('Al Jazeera English', 132392719.0),
 ('ITV News', 133188692.0),
 ('PBS NewsHour', 138099956.0),
 ('Good Morning Britain', 162608522.0),
 ('The Telegraph', 163295083.0),
 ('Washington Post', 176841381.0),
 ('Sky News', 178445635.0),
 ('CBS Evening News', 181580605.0),
 ('NowThis News', 184567580.0),
 ('Wall Street Journal', 189328173.0),
 ('CNN', 191337494.0),
 ('Global News', 193379044.0),
 ('ABC News In-depth', 225940780.0),
 ('CBS News', 235853813.0),
 ('BBC News', 244494468.0),
 ('Voice of America', 247102690.0),
 ('CBC News', 259541082.0),
 ('The Guardian', 264641932.0),
 ('Channel 4 News', 267683979.0),
 ('Daily Mail', 330136947.0),
 ('The New York Times', 375774121.0),
 ('On Demand News', 492098881.0),
 ('Complex', 515105310.0),
 ('ABC News', 628621246.0),
 ('Vox', 653964032.0),
 ('USA TODAY', 1045108720.0)]

In [93]:
%%sql

SELECT ROUND((SUM(likeCount) *100)/(SUM(viewCount)),2) AS 'Overall Percentage of People who likes the Videos after Watching'
FROM new_view;

 * sqlite:///YT_news.db
Done.

[(1.4,)]